@import "tailwindcss";


/* hero section waves */
@keyframes wave1 {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(20px); }
}
@keyframes wave2 {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}
@keyframes wave3 {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(30px); }
}
@keyframes wave4 {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-30px); }
}
.wave-anim-1 { animation: wave1 12s ease-in-out infinite; }
.wave-anim-2 { animation: wave2 16s ease-in-out infinite; }
.wave-anim-3 { animation: wave3 20s ease-in-out infinite; }
.wave-anim-4 { animation: wave4 24s ease-in-out infinite; }
